body{
    width: 1200px;
    display: flex;
    flex-direction:row-reverse;
    align-content: space-between;
}
div{
    margin: 50px;
    height: 200px;
    width: 200px;
}

.blue {
    background-color: blue;
}
.black{
    background-color: black;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}